#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  background-image: url('./assets/img/Header.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  
}
