* {
  text-align: center;
}
/* 
#root {
  height: 100vw;
} */

ul {
  list-style-type: none;
}

.header {
  background-image: url('./assets/img/Header.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  
  
}
